@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.logo{
    width: 60px;
    height: 40px;
}

.font-slogan{
    font-family: 'Roboto', sans-serif;
}

.background-image{
    height: 700px;
    width: 400px;
}
